{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <main>
        {% include 'partials/_navbar.html' %}
        <section class="conteudo">
            <div class="container mt-4 text-center">
                <h2 class="font-weight-bold text-white bg-info p-2">
                    <i class="fas fa-table mr-2">Editar Veículo {{ veiculo.id_veiculo }}</i>
                </h2>
            </div>
            <div class="container mt-4 align-text-top">
                <form action="{% url 'update_veiculo' veiculo.id_veiculo %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="col-4 text-center">
                        <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}