{% load static %}
<nav class="navbar navbar-dark navbar-right bg-primary ml-auto">
  <div class="justify-content-start">
    <a class="btn btn-outline-info bg-light mx-4" href="{% url 'home' %}">
      MED - SÃO
    </a>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <a class="btn btn-light" href="{% url 'home' %}">
        Home
      </a>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-light dropdown-toggle" id="dropdown-veiculo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuários
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-veiculo">
        <li><a class="dropdown-item" href="{% url 'listar_usuario' %}">Listar</a></li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-light dropdown-toggle" id="dropdown-veiculo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Locação
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-veiculo">
          <li><a class="dropdown-item" href="{% url 'pre_medicao' %}">Medição</a></li>
          <li><a class="dropdown-item" href="{% url 'listar_reservas' %}">Reservas</a></li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-light dropdown-toggle" id="dropdown-veiculo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Unidades
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown-veiculo">
          <a class="dropdown-item" href="{% url 'listar_unidade' %}">Listar</a>
          <a class="dropdown-item" href="{% url 'cadastrar_unidade' %}">Nova</a>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-light dropdown-toggle" id="dropdown-veiculo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Veículos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-veiculo">
          <li><a class="dropdown-item" href="{% url 'listar_veiculo' %}">Listar</a></li>
          <li><a class="dropdown-item" href="{% url 'cadastrar_veiculo' %}">Novo</a></li>
          <li>
            <a class="dropdown-item dropleft" href="#">Grupo de Veículos
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li><a class="dropdown-item" href="{% url 'listar_grupo_veiculo' %}">Listar</a></li>
              <li><a class="dropdown-item" href="{% url 'cadastrar_grupo_veiculo' %}">Novo</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% if messages %}
  {% for message in messages %}
    <div class="container">
      <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} py-1" role="alert">
        {% if message.tags == 'success' %}
          <span class="btn-sm bg-transparent mb-1"><i class="bi bi-check-circle p-1"></i></span>
        {% else %}
          <span class="btn-sm bg-transparent mb-1"><i class="bi bi-exclamation-circle p-1"></i></span> Aviso:
        {% endif %}
        {{ message }}
      </div>
    </div>
  {% endfor %}
{% endif %}