{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% load i18n %}
{% load humanize %}
{% language 'pt-br' %}
  <main>
    {% include 'partials/_navbar.html' %}
    <section class="conteudo">
      <div class="container mt-4 text-center">
        <h2 class="font-weight-bold text-white bg-info p-2">
          <i class="fas fa-table mr-2">Lista de Grupos de Veículos cadastrados</i>
        </h2>
      </div>
      <div class="container mt-4">
        <table class="table table-striped">
          <thead class="thead-dark">
            <th>Código</th>
            <th>Descrição</th>
            <th class="column_vl_mensal">Valor Mensal</th>
            <th class="column_icon_2">Opções</th>
          </thead>
          <tbody class="">
            {% for grupo_veiculo in grupo_veiculos %}
              <tr>
                <td class="align-middle">{{ grupo_veiculo.id_grupo_veiculo }}</td>
                <td class="align-middle">{{ grupo_veiculo.descricao_grupo }}</td>
                <td class="row_vl_mensal align-middle">R$ {{ grupo_veiculo.valor_mensal|floatformat:2|intcomma }}</td>
                <td class="align-middle">
                  <a href="{% url 'editar_grupo_veiculo' grupo_veiculo.id_grupo_veiculo %}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="bi bi-pencil"></i></a>
                  <a href="{% url 'excluir_grupo_veiculo' grupo_veiculo.id_grupo_veiculo %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="bi bi-trash"></i>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </main>
{% endlanguage %}
{% endblock %}