{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <main>
        {% include 'partials/_navbar.html' %}
        <section class="conteudo">
            <div class="container mt-4 text-center">
                <h2 class="font-weight-bold text-white bg-info p-2">
                    <i class="fas fa-table mr-2">Lista de Grupos de Veículos cadastrados</i>
                </h2>
            </div>
            <div class="container mt-4">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>Código</th>
                        <th>Descrição</th>
                        <th class="interface_tb_vl_mensal">Valor Mensal</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </thead>
                    <tbody class="">
                        {% for grupo_veiculo in grupo_veiculos %}
                            <tr>
                                <td>{{ grupo_veiculo.id_grupo_veiculo }}</td>
                                <td>{{ grupo_veiculo.descricao_grupo }}</td>
                                <td class="text-right interface_tb_vl_mensal_row">{{ grupo_veiculo.valor_mensal|floatformat:2 }}</td>
                                <td><a href="{% url 'editar_grupo_veiculo' grupo_veiculo.id_grupo_veiculo %}">Editar</a></td>
                                <td><a href="{% url 'excluir_grupo_veiculo' grupo_veiculo.id_grupo_veiculo %}">Excluir</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}