{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <main">
        {% include 'partials/_navbar.html' %}
        <section class="conteudo">
            <div class="container mt-4 text-center">
                <h2 class="font-weight-bold text-white bg-info p-2">
                    <i class="fas fa-table mr-2">Editar produto {{ produto.id_produto }}</i>
                </h2>
            </div>
            <div class="container mt-4">
                <form action="{% url 'update' produto.id_produto %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="nome" class="col-3">Nome</label>
                        <input type="text" class="col-8" name="nome" id="nome" value="{{ produto.nome }}">
                    </div>
                    <div class="form-group">
                        <label for="descricao" class="col-3">Descrição</label>
                        <input type="text" class="col-8" name="descricao" id="descricao" value="{{ produto.descricao }}">
                    </div>
                    <div class="form-group">
                        <label for="preco" class="col-3">Preço</label>
                        <input type="number" class="col-2" name="preco" id="preco" value="{{ produto.preco }}" step="0.01">
                    </div>
                    <div class="col-4 text-center">
                        <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}