input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.conteudo {
    width: 90%;
    margin: auto;
}
.column_icon {
    width: 40px;
}
.column_vl_mensal {
    width: 300px;
}
td.row_vl_mensal{
    padding-right: 140px;
}
thead.thead-yellow th {
    background-color: #fdff7c;
}
thead.thead-orange th {
    background-color: #ffa844;
}
input[name="placa"] {
    max-width: 95px !important;
    text-transform: uppercase;
    font-family: monospace;
}
i {
    vertical-align: 0.125em;
}
