input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.column_editar, .column_excluir {
    width: 40px;
}
.column_vl_mensal {
    width: 300px;
}
td.row_vl_mensal{
    padding-right: 140px;
}
thead.thead-yellow th {
    background-color: #fdff7c;
}
input[name="placa"] {
    max-width: 95px !important;
    text-transform: uppercase;
    font-family: monospace;
}
