{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
  <main class="flex-fill custom-main">
    {% include 'partials/_navbar.html' %}
    <section class="conteudo text-center">
      <div class="container mt-4 text-center">
        <h2 class="font-weight-bold text-white bg-info p-2">
          <i class="fas fa-table mr-2">Lista de Unidades</i>
        </h2>
      </div>
      <div class="container mt-4">
        <table class="table table-striped">
          <thead class="thead-orange">
            <th>Código</th>
            <th>Sigla</th>
            <th>Nome</th>
            <th>CNPJ</th>
          </thead>
          <tbody>
            {% for unidade in unidades %}
              <tr>
                <td class="align-middle">{{ unidade.id_unidade }}</td>
                <td class="align-middle">{{ unidade.sigla_unidade }}</td>
                <td class="align-middle">{{ unidade.descricao_unidade }}</td>
                <td class="align-middle">63.025.530</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </main>
{% endblock %}
{% include 'partials/_footer.html' %}