{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<main class="flex-fill custom-main">
  {% include 'partials/_navbar.html' %}
  <section class="conteudo">
    <div class="container mt-4 text-center">
      <h2 class="font-weight-bold text-white bg-info p-2">
        <span class="fas fa-table mr-2">Medição do mês {{ medicao.mes_medicao }}</span>
      </h2>
    </div>
    <div class="container mt-4">
      Em construção
    </div>
  </section>
</main>
{% endblock %}
{% include 'partials/_footer.html' %}