{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<main class="flex-fill custom-main">
  {% include 'partials/_navbar.html' %}
  <section class="conteudo">
    <div class="container mt-4 text-center">
      <h2 class="font-weight-bold header-1 p-2">
        <span class="fas fa-table mr-2">Apontamentos de medição <i class="bi bi-wrench"></i></span>
      </h2>
    </div>
    <div class="container mt-4 align-text-top">
      <form action="{% url 'insert_indisponibilidade' %}" method="POST"> 
        {% load i18n %}
        {% language 'pt-br' %}
        {% csrf_token %}
        {% for field in form %}
          <div class="my-2">
            <label for="{{ field.id_for_label }}" class="col-3 ml-1 align-top">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="col-4 text-center">
            <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Salvar</button>
        </div>
        {% endlanguage %}
      </form>
    </div>
  </section>
</main>
{% endblock %}
{% include 'partials/_footer.html' %}